<!DOCTYPE html>
<html>

<head>
    <title>
        Dashboard page
    </title>
    <meta charset='utf-8' />

    <link rel="apple-touch-icon" sizes="180x180" href="/fav/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/fav/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/fav/favicon-16x16.png">
    <link rel="manifest" href="/fav/site.webmanifest">
    <link rel="mask-icon" href="/fav/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <link href='css/normalize.css' rel='stylesheet' />
    <link href='css/dashboard.css' rel='stylesheet' />



    <meta name="viewport"
        content="viewport-fit=cover, width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
</head>

<body>
    <div class="page page--dashboard">
        <aside class="page_aside aside vertical vertical-big">
            <div class="text aside_logo">
                Sidebar
            </div>
            <nav class="vertical vertical-small">
                <a href="#" class="nav-button nav-button--active click">
                    <span class="icon nav-button_icon" style="background-image: url('/svg/nav/home.svg')"></span>
                    <span class="text text-light">Home</span>
                </a>
                <a href="#" class="nav-button click">
                    <span class="icon nav-button_icon" style="background-image: url('/svg/nav/order.svg')"></span>
                    <span class="text text-light">Orders</span>
                </a>
                <a href="#" class="nav-button click">
                    <span class="icon nav-button_icon" style="background-image: url('/svg/nav/product.svg')"></span>
                    <span class="text text-light">Products</span>
                </a>


            </nav>
        </aside>
        <header class="header">
            <div class="layout header_content text-small">
                <div class="header_search relative">
                    <input type="text" placeholder="Search" class="text field field-header">
                    <span class="icon header_icon-search"
                        style="background-image: url('/svg/header/search.svg')"></span>
                    <span class="icon icon-header-settings icon-button icon-color-blue_dark click"
                        style="background-image: url('/svg/header/settings.svg')"></span>
                </div>
                <div class="header_icons">
                    <span class="icon header_icon-signal icon-button icon-color-yellow_light click"
                        style="background-image: url('/svg/header/signal.svg')"></span>
                    <span class="icon header_icon-translate icon-button icon-color-blue_light click"
                        style="background-image: url('/svg/header/translate.svg')"></span>
                    <span class="icon header_icon-bell icon-button icon-color-yellow_light click"
                        style="background-image: url('/svg/header/bell.svg')"></span>
                </div>
            </div>
        </header>
        <main class="main">
            <div class="layout">
                <section class="box analytic_block">
                    <div class="analytic analytic-double analytic_purple">
                        <span class="icon analytic_button icon-button icon-color-purple_dark"
                            style="background-image: url('/svg/analytic/money.svg')"></span>

                        <div class="relative vertical vertical-small">
                            <div class="analytic_title text text-light">$500.00</div>
                            <div class="text text-small text-lighter">Total earning</div>
                            <span class="icon analytic_arrow click"
                                style="background-image: url('/svg/analytic/arrow.svg')"></span>
                        </div>
                    </div>

                    <div class="analytic analytic-double analytic_blue">
                        <span class="icon analytic_button icon-button icon-color-blue_dark"
                            style="background-image: url('/svg/analytic/order.svg')"></span>

                        <div class="relative vertical vertical-small">
                            <div class="analytic_title text text-light">$961</div>
                            <div class="analytic_info text text-small text-lighter">Total Order</div>
                        </div>
                    </div>

                    <div class="analytic analytic_2  analytic_blue">
                        <span class="icon analytic_button icon-button icon-color-blue_dark"
                            style="background-image: url('/svg/analytic/money.svg')"></span>

                        <div class="relative vertical vertical-small">
                            <div class="analytic_title_def text text-light">$203k</div>
                            <div class="analytic_info text text-small text-lighter">Total Income</div>
                        </div>

                    </div>

                    <div class="analytic analytic_2 analytic_border analytic_white">
                        <span class="icon analytic_button icon-button icon-color-yellow_light"
                            style="background-image: url('/svg/analytic/shop.svg')"></span>

                        <div class="relative vertical vertical-small">
                            <div class="analytic_title_def text">$203k</div>
                            <div class="analytic_info text text-small text-grey">Total Income</div>
                        </div>
                    </div>

                </section>
                <section class="seccond_main_block">
                    <div class="box purchase_block">
                        <h2 class="purchase_title">Purchase list</h2>
                        <hr class="divider">
                        <div class="purchase_col">
                            <div class="purchase">
                                <p class="purchase_info">ID437661</p>
                                <p class="purchase_info">May 11, 2023, 14:21</p>
                            </div>
                            <div class="purchase">
                                <p class="purchase_info">AirOn ProCam</p>
                                <p class="purchase_info">7/8 USB Type-C</p>
                            </div>
                            <div class="purchase">
                                <p class="purchase_info">132.32 EUR</p>
                                <p class="purchase_info text_warning">Not paid</p>
                            </div>
                            <div class="purchase">
                                <p class="purchase_info">Customer</p>
                                <p class="purchase_info">robin@com.de</p>
                            </div>
                        </div>
                        <hr class="divider">
                        <div class="purchase_col">
                            <div class="purchase">
                                <p class="purchase_info">ID437661</p>
                                <p class="purchase_info">May 11, 2023, 14:21</p>
                            </div>
                            <div class="purchase">
                                <p class="purchase_info">PHILIPS Essential</p>
                                <p class="purchase_info">HD9200/90</p>
                            </div>
                            <div class="purchase">
                                <p class="purchase_info">543 USD</p>
                                <p class="purchase_info text_success">Pay by Stripe</p>
                            </div>
                            <div class="purchase">
                                <p class="purchase_info">Customer</p>
                                <p class="purchase_info">dima@com.ua</p>
                            </div>

                        </div>
                    </div>
                    <div class="box payment_block">
                        <h2 class="payment_title">Payment</h2>
                        <hr class="divider">
                        <div class="radio_section">
                            <div class="radio_block">
                                <input name="payment" type="radio" class="radio_block_input">
                                <label class="radio_block_label">Credit card</label>
                            </div>
                            <div class="radio_block">
                                <input name="payment" type="radio" class="radio_block_input">
                                <label class="radio_block_label">Debit card</label>
                            </div>
                            <div class="radio_block">
                                <input name="payment" type="radio" class="radio_block_input">
                                <label class="radio_block_label">PayPal</label>
                            </div>
                        </div>

                        <div class="info_of_payment">
                            <div class="set_field">
                                <label class="info_of_payment_title">Name on card</label>
                                <input type="text" class="text payment_field">
                            </div>

                            <div class="set_field">
                                <label class="info_of_payment_title">Credit card number</label>
                                <input type="text" class="text payment_field">
                            </div>
                        </div>

                        <div class="info_of_payment">
                            <div class="set_field">
                                <label class="info_of_payment_title">Expiration</label>
                                <input type="text" class="text payment_field">
                            </div>

                            <div class="set_field">
                                <label class="info_of_payment_title">CVV</label>
                                <input type="text" class="text payment_field">
                            </div>
                        </div>
                        <hr class="divider">
                        <div class="select_block">
                            <div class="set_field relative click">
                                <label class="field_title">Country</label>
                                <div class="payment_field field-select ">
                                    <span class="text text-dark">Choose...</span>
                                </div>


                                <select class="field_select">
                                    <option value="country">Ukraine</option>
                                    <option value="country">USA</option>
                                    <option value="country">UK</option>
                                    <option value="country">Germany</option>
                                    <option value="country">Spain</option>
                                </select>

                            </div>

                            <div class="set_field relative click">
                                <label class="field_title">State</label>
                                <div class="payment_field field-select ">
                                    <span class="text text-dark">Choose...</span>
                                </div>
                                <select class="field_select">
                                    <option value="dog">Dog</option>
                                    <option value="cat">Cat</option>
                                    <option value="hamster">Hamster</option>
                                    <option value="parrot">Parrot</option>
                                    <option value="spider">Spider</option>
                                </select>
                            </div>
                        </div>
                        <hr class="divider">

                        <button class="last_button nav-button--active click">
                            <a href="#" class="last-button">
                                <span class="text text-light">Continue to checkout</span>
                            </a>
                        </button>
                    </div>
                </section>
            </div>

        </main>

    </div>
</body>

</html>