:root {
    --space-m: 12px;
    --space-xm: 16px;
    --space-l: 24px;
    --space-b: 36px

    --size-s: 14px;
    --size-d: 16px;
    --size-l: 20px;
    --size-b: 36px;

    --color-border: #dee2e6;
    --color-primary: rgb(46, 46, 255);
    --color-white: #fff;
    --color-title: #212529;
    --color-text: #5a5a5a;

    --border-radius: 12px;

    --weight-title: 500;
    --weight-text: 400;
}

/*======================*/

.page {
    background: var(--color-white);
    padding: 0 15px;

    display: flex;
    justify-content: center;
}

.page_content {
    max-width: 960px;
    width: 100%; 

    display: flex;
    flex-direction: column;

    gap: 80px;
    
   
}

/*======================*/

.header {
    padding: var(--space-l) 0;
    border-bottom: 1px solid var(--color-border);

    display: flex;
    justify-content: space-between;
}

.logo {
    font-size: 17px;
    color: var(--color-white);
    background: var(--color-primary);

    width: 24px;
    height: 24px;

    border-radius: calc(var(--border-radius) / 2);

    display: flex;
    justify-content: center;
    align-items: center;
}


.nav {
    display: flex;
} 

.nav_inline {
    gap: var(--space-l);
    justify-content: end;
}

.nav_vertical {
    gap: var(--space-xm);
    flex-direction: column;
}

.nav_link {
    color: var(--color-text);
    font-size: var(--size-d);
    text-decoration: none;

    line-height: 100%;
}

.nav_link:hover {
    text-decoration: underline;
    color: var(--color-primary); 
}


.footer {
    display: flex;
    justify-content: space-between;

    padding: 40px 0;
    border-top: 1px solid var(--color-border);
}

.footer_copyright {
    font-size: var(--size-s);
    color: var(--color-text);

    display: block;

    margin-top: var(--space-l); 
}

.footer_title {
    font-size: var(--size-l);
    color: var(--color-title);

    display: block;
    margin-bottom: var(--space-l);
    font-weight: var(--weight-title);
}

.hero {
    display: flex;
    align-items: center;
    gap: var(--space-b);
}

.hero_image {
    display: flex;
    width: 500px;
    height: 500px;
    
    border-radius: var(--border-radius);
}

.hero_content {
    display: flex;
    flex-direction: column;
    padding-left: 80px;
    gap: var(--space-l);
} 

.hero_title {
    font-size: var(--size-b);
    color: var(--color-title);
    font-weight: var(--weight-title);
    line-height: 120%;
}

.hero_text {
    color: var(--color-text);
    font-size: var(--size-d);
    font-weight: var(--weight-text);
    line-height: 170%;    
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--size-d);
    text-decoration: none;
    
}

.hero_button {
    width: 120px;
    height: 36px;

    padding: var(--space-m) var(--space-xm);
    border-radius: 4px;
    color: var(--color-white);
    background-color: #6C757D;
}

.button:hover {
    opacity: 0.7;
}

.featured {
    display: flex;
    padding: var(--space-b); 
    
    padding-bottom: 40px;
    border-bottom: 1px solid var(--color-border);
}

.featured_content {
    flex-direction: column;
    margin: 26px;
    gap: var(--space-l);
}

.featured_image{
    height: 64px;
    width: 64px;
    border-radius: 12%;
} 

.featured_title {
    display: flex;
    font-size: 32px;
    font-weight: var(--weight-title);
    margin-top: var(--space-l);
    color: var(--color-title);
}

.featured_text {
    font-weight: var(--weight-text);
    font-size: var(--size-d);
    margin-top: var(--space-l);
    color: var(--color-text);
}

.featured_button {
    font-size: var(--size-d);
    margin-top: var(--space-l);
    text-decoration: underline;
    
    border-radius: var(--border-radius);
    justify-content: start;
}

.featured_button:hover {
    color: var(--color-primary); 
}

.form {
    display: flex;
    justify-content: space-between;

    padding-bottom: 40px;
    border-bottom: 1px solid var(--color-border);

    padding: var(--space-l);
    border-radius: 8px;
    background: #563D7C;   
}


.actions_content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.actions_title {
    font-size: 24px;
    font-weight: var(--weight-title);
    color: var(--color-white);
}

.action_button {
    width: 240px;
    height: 52px;
    font-size: var(--size-l);
    border-radius: 6px;
    background-color: var(--color-white);
    color: #212529;
}